@font-face {
    font-family: Pixelate;
    src: url(/fonts/SFPixelate.ttf);
}

@font-face {
    font-family: PixelateBold;
    src: url(/fonts/SFPixelateBold.ttf);
}

.experiences {
    width: 100%;
    height: 100vh;
    background: black;
    color: white;
}

.experiences-main-title,
.experiences-subtitle {
    font-family: PixelateBold;
    font-size: 2.5rem;
    margin: 0px
}

.experiences-main-title {
    text-align: center;
    padding: 50px;
}

.experiences-subtitle {
    margin-bottom: 30px;
}

.experiences-container {
    display: flex;
    justify-content: space-between;
    margin: 0px 8% 0px 8%;
    text-align: center;
}

.experiences-infos {
    font-family: Pixelate;
}

.experiences-infos-container {
    margin-bottom: 20px;
}

.experiences-title,
.experiences-contract,
.experiences-detail {
    margin: 0px;
}

.experiences-back {
    margin-top: 65px;
}