.sound-bars-container {
    position: absolute;
    width: 40px;
    height: 70px;
    bottom: 2%;
    right: 2%;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    user-select: none;
}

.sound-bars-container * {
    margin-left: 1px;
}

.sound-bars {
    width: 3px;
    height: 70px;
    transition: height 1s;
    background: white;
    align-self: end;
}

.interface-arrow {
    position: absolute;
    bottom: 3%;
    left: 1%;
    pointer-events: auto;
    cursor: pointer;
    user-select: none;
}

.interface-arrow-icon {
    width: 100px;
}